:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; */
  background-color: #0f0f0f;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

body{
  display: flex;
  flex-direction: row;
  margin: 0;
}

.sidebar{
  width: 300px;
  min-width: 300px;
  background-color: red;
  height: 100vh;
}

.canvas-wrapper{
  flex-grow: 1;
}
canvas{
  margin: 25px;
}